<app-header></app-header>

<ul class="alert alert-danger" *ngIf="errores.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>

<div class="container-mensaje d-flex justify-content-center">
    <div class="fondo-mensaje d-flex align-items-end">
        <div class="titulo-mensaje">
            REGISTRAR
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center">
    <div class="fondo d-flex justify-align-items-start mt-5">
        <div class="card col-md-12">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="container mt-2">
                            <app-nav-bar-adm-professor></app-nav-bar-adm-professor>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title titulo-tarjeta mb-4">Informacion Personal:</h5>
                                <div class="text-input">
                                    <div class="card-label mb-1">Identificacion:</div>
                                    <span class="label-contenido">
                                        <input type="text" class="form-control custom-input mb-2"
                                            [(ngModel)]="professor.idUser" name="idUser" #idUser="ngModel">
                                    </span>
                                </div>
                                <div class="text-input">
                                    <div class="card-label mb-1">Nombres:</div>
                                    <span class="label-contenido">
                                        <input type="text" class="form-control custom-input mb-2"
                                            [(ngModel)]="professor.names" name="names" #names="ngModel">
                                    </span>
                                </div>
                                <div class="text-input">
                                    <div class="card-label mb-1">Apellidos:</div>
                                    <span class="label-contenido">
                                        <input type="text" class="form-control custom-input mb-2"
                                            [(ngModel)]="professor.lastNames" name="lastNames" #lastNames="ngModel">
                                    </span>
                                </div>
                                <div class="text-input">
                                    <div class="card-label mb-1">Numero telefonico:</div>
                                    <div class="label-contenido">
                                        <input type="text" class="form-control custom-input mb-2"
                                            [(ngModel)]="professor.numberPhone" name="numberPhone"
                                            #numberPhone="ngModel">
                                    </div>
                                </div>

                                <div class="text-input">
                                    <div class="card-label mb-1">Correo electronico:</div>
                                    <div class="label-contenido">
                                        <input type="text" class="form-control custom-input mb-2"
                                            [(ngModel)]="professor.email" name="email" #email="ngModel">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title titulo-tarjeta mb-4">Informacion Docente:</h5>
                                <div class="text-input">
                                    <div class="card-label mb-1">Codigo docente:</div>
                                    <div class="label-contenido">
                                        <input type="text" class="form-control custom-input mb-2"
                                            [(ngModel)]="professor.codeProfessor" name="codeProfessor" #email="ngModel">
                                    </div>
                                </div>
                                <div class="text-input">
                                    <div class="card-label mb-1">Username:</div>
                                    <div class="label-contenido">
                                        <input type="text" class="form-control custom-input mb-2"
                                            [(ngModel)]="professor.username" name="username" #username="ngModel">
                                    </div>
                                </div>
                                <div class="text-input">
                                    <div class="card-label mb-1">Password:</div>
                                    <div class="label-contenido">
                                        <input type="password" class="form-control custom-input mb-2"
                                            [(ngModel)]="professor.password" name="password" #password="ngModel">
                                    </div>
                                </div>
                                <div class="text-input">
                                    <div class="card-label mb-1">Tipo docente:</div>
                                    <div class="label-contenido">
                                        <select class="form-control custom-input mb-2" [compareWith]="compararProfessorsType"
                                            [(ngModel)]="professor.objProfessorType" name="objProfessorType">
                                            <option [ngValue]="null">--- seleccione el tipo de docente ---</option>
                                            <option *ngFor="let type of professorTypes" [ngValue]="type"> {{type.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="text-input">
                                    <div class="card-label mb-1">Permiso como administrador</div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                            [checked]="hasRole()" (change)="toggleCheckbox()">
                                        <label class="form-check-label" for="flexSwitchCheckChecked">
                                            {{ hasRole() ? 'Usuario con permiso de administrador' : 'Usuario sin
                                            permisos de administrador'
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary custom-button float-end"
                        (click)="createProfessor()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>