.img-header img {
    width: 30%; 
    height: auto; 
    border-radius: 120px;
}

.bg-color{
    background-color:rgba(41,22,111,255);
}

.titulo{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    height: auto;
}