<app-header></app-header>

<div class="container-saludo d-flex justify-content-center">
  <div class="fondo-saludo d-flex align-items-end">
    <div class="titulo-saludo">
      BIENVENIDO!
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="fondo d-flex align-items-start mt-5">
    <div class="card card-padre col-md-12">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="container mt-2">
              <app-nav-bar-adm-professor></app-nav-bar-adm-professor>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title titulo-tarjeta mb-4">Información Personal:</h5>
                <div class="card-text mb-2">
                  <div class="card-label">Identificación:</div>
                  <span class="label-contenido">{{professor.idUser}}</span>
                </div>
                <div class="card-text">
                  <div class="card-label mb-2">Nombres:</div>
                  <span class="label-contenido">{{professor.names}}</span>
                </div>
                <div class="card-text">
                  <div class="card-label mb-2">Apellidos:</div>
                  <span class="label-contenido">{{professor.lastNames}}</span>
                </div>
                <div class="card-text">
                  <div class="card-label">Teléfono:</div>
                  <span class="label-contenido">{{professor.numberPhone}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title titulo-tarjeta mb-4">Información Docente:</h5>
                <div class="card-text">
                  <div class="card-label mb-2">Código:</div>
                  <span class="label-contenido">{{professor.codeProfessor}}</span>
                </div>
                <div class="card-text">
                  <div class="card-label mb-2">Email:</div>
                  <span class="label-contenido">{{professor.email}}</span>
                </div>
                <div class="card-text">
                  <div class="card-label mb-2">Tipo docente:</div>
                  <span class="label-contenido">{{professor.objProfessorType.name}}</span>
                </div>
                <div class="card-text">
                  <div class="card-label">Estado:</div>
                  <span class="label-contenido">{{professor.state}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>