<div class="card text-white bg-secondary mb-3" style="margin-top:  100px;">
    <div class="card-header">Docentes</div>
    <div class="card-body">
      <h5 class="card-title">Listado de Docentes</h5>
      <div *ngIf="professors?.length==0" class="alert alert-info">
        No hay registros en la base de datos    
      </div>
      <table class="table table-bordered table-striped" *ngIf="professors.length>0">
        <thead>
          <tr>
            <th>id</th>
            <th>nombres</th>
            <th>apellidos</th>
            <th>username</th>
            <th>email</th>
            <th>telefono</th>
            <th>codigo</th>
            <th>tipo</th>
            <th>estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professors of professors">
            <td>{{ professors.idUser }}</td>
            <td>{{ professors.names }}</td>
            <td>{{ professors.lastNames }}</td>
            <td>{{ professors.username }}</td>
            <td>{{ professors.email }}</td>
            <td>{{ professors.numberPhone}}</td>
            <td>{{ professors.codeProfessor }}</td>
            <td>{{ professors.objProfessorType.name }}</td>
            <td>{{ professors.state }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
