<div class="component" *ngIf="userLoginOn && userHasAccess(); else elseBlock">

  <app-header></app-header>
  <div class="container d-flex justify-content-center">
    <div class="fondo d-flex align-items-start mt-5 ">
      <div class="card text-black bg-light col-md-12">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="container mt-2">
                <app-nav-bar-adm-professor></app-nav-bar-adm-professor>
              </div>
            </div>
            <div class="col-md-10">
              <h5 class="card-title titulo-tarjeta">Docentes</h5>
              <div *ngIf="professors?.length==0" class="alert alert-info">
                No hay registros en la base de datos
              </div>
              <table class="table table-bordered table-striped" *ngIf="professors.length>0">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>nombres</th>
                    <th>apellidos</th>
                    <th>username</th>
                    <th>email</th>
                    <th>telefono</th>
                    <th>codigo</th>
                    <th>tipo</th>
                    <th>estado</th>
                    <th>accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let professor of paginatedProfessors">
                    <td>{{ professor.idUser }}</td>
                    <td>{{ professor.names }}</td>
                    <td>{{ professor.lastNames }}</td>
                    <td>{{ professor.username }}</td>
                    <td>{{ professor.email }}</td>
                    <td>{{ professor.numberPhone }}</td>
                    <td>{{ professor.codeProfessor }}</td>
                    <td>{{ professor.objProfessorType.name }}</td>
                    <td>
                      <span
                        [ngClass]="{'text-success': professor.state === 'Habilitado', 'text-danger': professor.state !== 'Habilitado'}">
                        {{ professor.state === 'Habilitado' ? '✔' : '✘' }}
                      </span>
                    </td>
                    <td><button type="button" class="btn btn-primary"
                        [routerLink]="['/docentes/update',professor.idUser]">Actualizar</button></td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="totalProfessors" [pageSize]="pageSize"
                (page)="cambiarPagina($event)"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #elseBlock>
  <div class="else-component-error" *ngIf="!userLoginOn;else pagNotAccess">
    <app-error></app-error>
  </div>
  <ng-template #pagNotAccess>
    <div class="else-notAccess" *ngIf="!userHasAccess()">
      <app-bad-credentionals></app-bad-credentionals>
    </div>
  </ng-template>
</ng-template>