<ul class="alert alert-danger" *ngIf="errores.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>



    <app-header></app-header>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="container mt-2">
                <app-nav-bar-adm-professor></app-nav-bar-adm-professor>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Informacion Personal:</h5>
                  <input type="text" class="form-control custom-input" [(ngModel)]="professor.names" name="names"#names="ngModel">
                  <br>
                  <input type="text" class="form-control custom-input" [(ngModel)]="professor.lastNames" name="lastNames"#lastNames="ngModel">
                  <br>
                  <input type="text" class="form-control custom-input" [(ngModel)]="professor.numberPhone" name="numberPhone"#numberPhone="ngModel">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Informacion Docente:</h5>
                  <input type="text" class="form-control custom-input" [(ngModel)]="professor.email" name="email"#email="ngModel">
                  <br>
                  <select class="form-control custom-input" [compareWith]="compararProfessorsType" [(ngModel)]="professor.objProfessorType" name="objProfessorType">
                    <option [ngValue]="null">--- seleccione el tipo de docente ---</option>
                    <option *ngFor="let type of professorTypes" [ngValue]="type"> {{type.name}} </option>
                  </select>
                  <br>
                  <input type="checkbox" [(ngModel)]="checkboxChecked" (change)="onCheckboxChange()">
                  <br>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="professor.state === 'Habilitado'" (change)="toggleState()" name="state">
                    <label class="form-check-label" for="flexSwitchCheckChecked">{{ professor.state }}</label>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  