
  <app-header></app-header>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="container mt-2">
              <app-nav-bar-adm-professor></app-nav-bar-adm-professor>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Informacion Personal:</h5>
                <div class="text-input">
                  <label for="names">Nombres: </label>
                </div>
                <input type="text" class="form-control custom-input" [(ngModel)]="professor.names" name="names"
                  #names="ngModel">
                <br>
                <div class="text-input">
                  <label for="names">Apellidos: </label>
                </div>
                <input type="text" class="form-control custom-input" [(ngModel)]="professor.lastNames" name="lastNames"
                  #lastNames="ngModel">
                <br>
                <div class="text-input">
                  <label for="names">Numero telefonico: </label>
                </div>
                <input type="text" class="form-control custom-input" [(ngModel)]="professor.numberPhone"
                  name="numberPhone" #numberPhone="ngModel">
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Informacion Docente:</h5>
                <div class="text-input">
                  <label for="names">Correo electronico: </label>
                </div>
                <input type="text" class="form-control custom-input" [(ngModel)]="professor.email" name="email"
                  #email="ngModel">
                <br>
                <div class="text-input">
                  <label for="names">Tipo docente: </label>
                </div>
                <select class="form-control custom-input" [compareWith]="compararProfessorsType"
                  [(ngModel)]="professor.objProfessorType" name="objProfessorType">
                  <option [ngValue]="null">--- seleccione el tipo de docente ---</option>
                  <option *ngFor="let type of professorTypes" [ngValue]="type"> {{type.name}} </option>
                </select>
                <br>
                <div class="text-input">
                  <label for="names">Permiso como administrador: </label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="hasRole()" (change)="toggleCheckbox()">
                  <label class="form-check-label" for="flexSwitchCheckChecked">
                    {{ hasRole() ? 'Usuario con permisos de administrador' : 'Usuario sin permisos de administrador' }}
                  </label>
                </div>
                <br>
                <div class="text-input">
                  <label for="names">Estado: </label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                    [checked]="professor.state === 'Habilitado'" (change)="toggleState()" name="state">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Estado en el sistema {{professor.state}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <button type="button" class="btn btn-primary custom-button float-end" (click)="confirmarGuardarCambios()">Guardar cambios</button>
        </div>
      </div>
      
    </div>
    
  </div>


